.sidebar{
    position:fixed;
    left:0;
    bottom:0;
    top:50px;
    width:72px;
    background-color: white;
    z-index:200;
    padding-top:5px;
}
.sidebar-link{
    height:76px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    cursor:pointer;
}
.sidebar-link:hover{
    background-color:lightgray;
}
.sidebar-link img{
    height:24px;
}
.sidebar-link div{
    font-family:Arial;
    font-size:10px;
}