.video-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap:40px;
}
@media (max-width: 500px){
    .video-grid{
        grid-template-columns: 1fr;
    }
}
@media (min-width: 750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 751px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video-preview-grid{
    display:grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
}
.container{
    margin-top:20px;
    width: 300px;
}
.thumbnail{
    width:300px;
    margin-bottom: 15px;
    position:relative;
}
.thumbnail-pic{
    width:100%;
}
.video-time{
    position:absolute;
    bottom:10px;
    right:10px;
    background-color:black;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    border-radius:2px;
    padding: 4px;

}

.channel{
    vertical-align: top;
}
.channel img{
    border-radius:50%;
    width:100%;
    width:36px;
}

.video-title{
    font-family:Arial;
    font-size:14;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 20px;
    margin-top:0;
}
.video-author, .video-views{
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(91,91,91)
}